{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    User Profile Register
{% endblock %}


{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">User Profile Register</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <form action="{% url 'rango:register_profile' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Create User Profile">
            </form>
        </div>
    </div>
{% endblock %}
